{
    "extends": "airbnb-base",
    "rules":{
        "no-underscore-dangle": 0,
        "func-names": 0,
        "no-await-in-loop": 0,
        "no-cond-assign": 0,
        "no-constant-condition": 0
    }
}